.download-body {
    width: 100%;
    padding-bottom: 1rem;
}

.body-download {
    background: #F9F9F9;
    padding: 1rem;
}

@media screen and (max-width: 1024px) {
    .download-box {
        width: 100% !important;
    }
}

.download-box {
    width: 80%;
    margin: auto;
    background: #ffffff;
    border: 1px solid #D4D4D4;
    text-align: center;
}

.download-box li:nth-last-child(1) {
    border-bottom: 0;
}

.download-box li {
    border-bottom: 1px dashed #E2E2E2;
    width: 95%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: inline-block;
}

.download-body li span {
    display: inline-block;
    width: 19%;
    color: rgba(22, 25, 20, 0.73);
    font-size: 0.3rem;
    text-align: center;
    vertical-align: middle;
    word-break: break-all;
}

.download-body li .download-btn a {
    background: #64696b;
    width: 1.5rem;
    height: 0.6rem;
    border-radius: 0.1rem;
    text-align: center;
    line-height: 0.6rem;
    color: #fff;
    font-size: 0.3rem;
    display: inline-block;
}
